.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
.idea/vcs.xml
.intellijPlatform/localPlatformArtifacts/IC-251.27812.49/bundledPlugin-com.intellij.java-IC-251.27812.49.xml
.run/Run IDE with Plugin.run.xml
/assets
/docs
接口设计.md
系统架构.md
.run/Run IDE with Plugin.run.xml
.intellijPlatform/self-update.lock
.run/Run IDE with Plugin.run.xml
